@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-method="post" asp-action="Summary">
    <p>Enter your first name</p>
    <input type="text" name="FirstName" />
    <p>Enter your last name</p>
    <input type="text" name="LastName" />
    <p>Enter your email address</p>
    <input type="text" name="Email" />
    <p>Enter your password</p>
    <input type="password" name="Password" />

    <input type="submit" />
</form>

